PORT=3088
PUBLIC_ORIGIN=https://flex-craft.ru
AUTH_DATA_DIR=/var/lib/flexcraft-auth
AUTH_COOKIE_SECRET=change-this-to-a-long-random-secret
AUTH_SESSION_COOKIE=flexcraft_session
VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=https://flex-craft.ru/api/auth/vk/callback
VK_OAUTH_BASE_URL=https://id.vk.ru
VK_SCOPE=vkid.personal_info
